:root {
  --primary-color: #2CB99E;
  --secondary-color: #FFFBEB;
  --success-color: #28BF49;
  --text-dark-color: #303030;
  --text-light-color: #878787;
  --border-color: #DCDEE3;
  --error-color: #C62828;
  --background-color: #FFFFFF;
}