@import "variables";

.register-page-container {
  margin: 50px 10%;
  width: 500px;

  @media screen and (max-width: 480px) {
    margin: 10px 5% 60px 5%;
    width: 90%;
  }
}

.register-page-title {
  font-size: $mess-font-size;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.register-page-form {
  text-align: left;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.register-page-name-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
}

.register-page-input {
  width: calc(100% - 24px);
  padding: 12px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  margin-bottom: 25px;
  transition: border linear 0.2s;

  &.name {
    width: calc(48% - 24px);
  }

  &.phone {
    direction: ltr;
  }

  &.err {
    border: 1px solid var(--error-color) !important;
  }

  &::placeholder {
    text-align: right;
    color: var(--text-light-color);
  }

  &:focus {
    border: 1px solid var(--primary-color);
  }

  @media screen and (max-width: 480px) {
    min-width: calc(100% - 24px);
  }
}

.register-page-submit {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 12px 50px;
  border-radius: 25px;
  display: inline-block;
  font-size: $big-font-size;
  opacity: 0.6;
  cursor: not-allowed;

  &.valid {
    cursor: pointer;
    opacity: 1;
  }
}

.register-page-err {
  color: var(--error-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateY(-15px);
  height: 0;
  opacity: 0;
  transition: all ease 0.2s;

  &.show {
    height: 30px;
    opacity: 1;
  }
}