$mess-font-size: 19px;
$ultra-font-size: 17px;
$huge-font-size: 15px;
$big-font-size: 14px;
$title-font-size: 13px;
$regular-font-size: 12px;
$small-font-size: 11px;
$really-small-font: 10px;
$very-small-font: 9px;
$very-fucking-small-font: 8px;